@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand-red: #C8102E;
  --color-brand-light: #FEE2E2;
  --color-brand-dark: #A00D25;

}

body {
  font-family: 'Mukta Malar', ui-sans-serif, system-ui, sans-serif;
  background-color: #fafafa;
  background-image: url("/bg_pattern.png");
  background-repeat: repeat;
  background-size: 400px;
  background-position: center top;
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
}

/* Base resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility for glassmorphism */
.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
